<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption>{{ test }}</caption>
            <thead>
            <tr>
                <th>ici23</th>
                <th>ici23</th>
                <th>ici23</th>
                <th>ici23</th>
                <th>ici23</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ab123c123</td>
                <td>ab123123c</td>
                <td>ab123123c</td>
                <td>ab123123c</td>
                <td>ab123123c</td>
            </tr>
            <tr>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
            </tr>
            <tr>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
            </tr>
            <tr>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
                <td>abc</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>